* {
  box-sizing: border-box;
}
:root {
  --mau-color: #1ebfc1;
}
html {
  font-size: 62.5%;
}
body {
  color: #535353;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* background: #898989; */
}
a {
  text-decoration: none;
  color: #767e7e;
}
.main-content {
  width: 1171px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.btn {
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
}
.text1 {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}
.text2 {
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem; /* 177.778% */
}
.hchung1 {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 7.2rem; /* 116.129% */
}
.hchung2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
}
.text3 {
  color: #0d1111;

  font-size: 1rem;

  font-weight: 500;
}

/* -------------------------header-------------------- */
.fixx {
  position: sticky;
  top: -38px;
  /* padding: 30px; */
  background: #ffffff;
  padding-top: 51px;
  padding-bottom: 13px;
  z-index: 5;
}
.nav img {
  height: 36.329px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .navi {
  display: flex;
  /* margin-left: auto; */
  gap: 39px;
}
.nav .navi a {
  color: #2f3a3b;
}
.nav .login {
  display: flex;
  align-items: center;
  gap: 24px;
}
/* .nav .login .sign-up{
  width: 108px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  background: #ffffff;
} */
.nav .login .sign-up a {
  color: #1ebfc1;
  display: inline-block;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 108px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.login .sign-up a::before {
  content: "";
  top: -100%;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-color: var(--mau-color);
  transition: top 0.2s ease-in;
}

.nav .sign-in a {
  color: #494949;
}
.navi .active {
  text-shadow: 0px 0px 1px #2f3a3b;
}
.navi .items:hover {
  text-shadow: 0px 0px 1px #2f3a3b;
}
.navi .items {
  position: relative;
}
.navi a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: calc(100%);
  background-color: #171100;
  transform: scaleX(0); /* ẩn đi (thu nhỏ lại)*/
  transform-origin: center; /* bắt đầu từ bên phải */
  transition: transform 0.3s ease;
}
.navi a:hover::after {
  content: "";
  transform: scaleX(1); /* hiện dần ra */
  transform-origin: center; /* bung ra từ trái qua phải */
}

.nav .login .sign-up a:hover::before {
  top: 0%;
}
.nav .login .sign-up a:hover {
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
}
.login .sign-up span {
  z-index: 5;
}

.nav .login .sign-in a:hover {
  background: linear-gradient(
    to right,
    rgb(7, 1, 30),
    #05dcf8de,
    #0f86e1,
    #1022e8
  );
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: doimau 3s ease infinite;
}
@keyframes doimau {
  to {
    background-position: 200%;
  }
}
/* --------------hero----------------- */
.hero .body {
  display: flex;
  margin-top: 49px;
  height: 631px;
}
.hero .body-left {
  width: 50.8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .body-right {
  width: 49.2%;
  position: relative;
}
.hero .body-left .hchung1 {
  padding: 18px 0px 46px 0px;
}
.hero .body-left .text2 {
  width: 374px;
}
.hero .body-left .box-btn {
  display: flex;
  padding-top: 52px;
}
.hero .body-left .xemvd {
  background: transparent;
  border: transparent;
  width: 62px;
  height: 62px;
  /* padding-left: 20px;
  padding-bottom: 300px; */
  position: relative;
  margin-left: 50px;
  border-radius: 50px;
}
.hero .body-left img {
  position: absolute;
  top: -29px;
  left: -51px;
  cursor: pointer;
  /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
}
/* .hero .body-left img:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
} */
.body-left .btn a {
  color: #fff;
}
.body-left .btn {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.body-left .btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
}

.body-right .chuaanh img {
  width: 576px;
  height: 631px;
  object-fit: cover;
  border-radius: 5px;
}
.body-right .courses {
  position: absolute;
  left: -40px;
  top: 149px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
.body-right .courses .book {
  width: 36px;
  height: 40px;
  background: #ff8282;
  display: flex;
  justify-content: center;
  border-radius: 5px 0px 0px 5px;
}
.body-right .courses .trangtri {
  width: 28px;
  height: 4px;
  background: #ffffff;
  border-radius: 50px;
  margin-top: 28px;
}
.body-right .courses .text3 {
  color: #0d1111;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  width: 55px;
}
.body-right .sche {
  position: absolute;
  left: -65px;
  bottom: 46px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
  /* display: flex;
  flex-direction: column; */
}
.body-right .boc {
  padding: 16px 25px 23px 25px;
}
.body-right .sche .text3 {
  text-align: center;
}
.body-right .sche .sche-end {
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
  margin-left: 23px;
  margin-top: 10px;
}
.body-right .avts {
  position: absolute;
  width: 207px;
  height: 90px;
  right: 45px;
  bottom: 41px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}
.body-right .avts img {
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 33px;
  margin-left: -10px;
}
.body-right .avts .moik {
  width: 33px;
  height: 33px;
  border-radius: 50px;
  background: #1ebfc1;
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}
.body-right .box-avt {
  display: flex;
  margin-left: 50px;
  margin-top: 8px;
}
.body-right .avts .text3 {
  text-align: center;
  padding-top: 17px;
}
.body-right .hove {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.body-right .hove:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
}
/* -----------------feature-------------------- */
.feature {
  margin-top: 209px;
}
.feature .bocchua {
  width: 1024px;
}
.feature .title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.feature .hchung2 {
  width: 577px;
}
.feature .text2 {
  width: 590px;
  color: #767e7e;
}
.feature .box-icon {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.feature .list-icon .hicon {
  color: #0d1111;
  font-size: 2rem;
  margin-top: 26px;
  margin-bottom: 16px;
  font-weight: 600;
}
.feature .list-icon p {
  width: 223px;
}
/* ----------------courses--------------- */
.courses {
  margin-top: 130px;
}
.courses .cou-box a {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
  transition: transform 0.2s ease;
}
.courses .cou-box a:hover {
  transform: scale(1.1);
  color: #1022e8;
}
.courses .cou-box {
  display: flex;
  justify-content: space-between;
}
.courses .box-cost {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 79px;
  align-items: baseline;
}
.courses .box-cost img {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
}
.courses .box-cost .content {
  position: absolute;
  bottom: -124px;
  left: 17px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.courses .box-cost .anh {
  position: relative;
}
.box-cost .content .title {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 18px 0px 16px 25px;
}
.box-cost .content .cost strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}
.box-cost .content .cost {
  margin-left: 25px;
  margin-bottom: 6px;
  color: #9da6a5;
}
.box-cost .content .text1 {
  margin-left: 25px;
  margin-bottom: 16px;
  color: #9da6a5;
}
.box-cost .content .end-content {
  display: flex;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 15px;
}
.box-cost .content .end-content p::before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background: #1ebfc1;
  border-radius: 50px;
  margin: 0px 10px;
  margin-bottom: 2px;
}
.box-cost .content:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
}
.courses .hchung2 {
  margin-top: 18px;
  margin-bottom: 19px;
}
/* -----------------introl------------------ */
.introl {
  margin-top: 265px;
  margin-bottom: 130px;
}
.introl .body-top {
  width: 862px;
  height: 131px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.introl .body-top .text2 {
  text-align: center;
  margin-top: 11px;
}
.introl .box-avt img {
  width: 235px;
  height: 235px;
  object-fit: cover;
}
.introl .body-bottom {
  display: flex;
  margin-top: 300px;
  height: 481px;
}
.introl .box-left {
  width: 419px;
  overflow: hidden;
}
.introl .box-left .box-text {
  margin-top: 37px;
}
.introl .box-left .textto {
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem; /* 150% */
  margin: 27px 0px 33px 0px;
}
.introl .box-left strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}
.introl .box-left .name {
  display: flex;
  align-items: center;
}
.introl .box-left .name::before {
  content: "";
  width: 8px;
  height: 2px;
  background: #070707;
  display: inline-block;
  margin-right: 5px;
}
.introl .box-left .dichuyen {
  display: flex;
  margin-top: 52px;
  gap: 30px;
}
.introl .box-text-to {
  display: flex;
  /* overflow: hidden; */
}
.introl .box-text-to .box-text-nho {
  flex-shrink: 0;
  width: 419px;
}
.introl .box-left .nut {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #2ac9bf;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  border: none;
}
.introl .box-left .nut:hover {
  transform: scale(1.1);
  background: #0f86e1;
}
.introl .box-avt {
  width: 64.2%;
  position: relative;
  display: flex;
  align-items: center;
}
.introl .box-avt .avatar1 {
  position: absolute;
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 78px;
  bottom: 24px;
  right: 24px;
}
.introl .box-avt .avatar2 {
  position: absolute;
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 78px;
  bottom: 0;
  right: 450px;
}
.introl .box-avt .avatar3 {
  position: absolute;
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 78px;
  left: 38px;
  bottom: 138px;
}
.introl .box-avt .avatar4 {
  position: absolute;
  width: 92px;
  height: 92px;
  object-fit: cover;
  border-radius: 78px;
  top: 0;
  left: 216px;
}
.introl .box-avt .avatar5 {
  position: absolute;
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 78px;
  right: 0;
  top: 19px;
}
.introl .box-avt .avatar6 {
  object-fit: cover;
  border-radius: 200px;
  margin-left: 307px;
}
/* ---------------ready------------------ */
.ready {
  background: #def6f5;
}
.ready .body {
  display: flex;
  align-items: center;
  height: 272px;
  gap: 410px;
}
.ready .box-text h2 {
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 18px;
}
.ready .box-btn a {
  color: #ffffff;
}
.ready .box-btn .btn {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.ready .box-btn .btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
}
/* ---------------------footer---------------- */
.footer {
  margin-top: 130px;
}
.footer .box-top {
  display: flex;
  gap: 137px;
}
.footer .box-top .title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 26px;
}
.footer .box-cha img {
  height: 36.329px;
}
.footer .box-cha .list {
  margin-bottom: 18px;
}
.footer .box-cha-sp .list {
  display: flex;
  gap: 9px;
  align-items: center;
}
/* .footer .box-cha:nth-child(4) {
  width: 157px;
} */
.footer .box-cha .list a:hover {
  color: #2ac9bf;
}
.footer .box-bottom {
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 50px;
}
