* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #5f5b53;
}
/* thuoc tinh chung */
a {
  text-decoration: none;
  color: white;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.btn {
  background-color: #171100;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  padding: 0px 16px;
  line-height: 50px;
  min-width: 118px;
  color: #ffffff;

  display: inline-block;
}
.text-chung1 {
  color: currentColor;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}
.text-chung2 {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.text-chung3 {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.hchung1 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.76px;
}

/* -------------------header -------------------*/
.header {
  background-color: #fffcf4;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}

.header .nav {
  margin-left: auto;
}
.header .nav ul {
  display: flex;
  align-items: center;
}
.nav a {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 21px;
  position: relative;
}
.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: calc(100% - 42px);
  background-color: #171100;
  transform: scaleX(0); /* ẩn đi (thu nhỏ lại) */
  transform-origin: center; /* bắt đầu từ bên phải */
  transition: transform 0.3s ease;
  margin-left: 21px;
}
.nav a:hover::after {
  content: "";
  transform: scaleX(1); /* hiện dần ra */
  transform-origin: center; /* bung ra từ trái qua phải */
}
.nav .active {
  color: #171100;
  font-size: 1.6rem;
  /* font-weight: 600; */
  text-shadow: 0px 0px 1px #171100;
}
.nav a:hover {
  color: #171100;
  font-size: 1.6rem;
  text-shadow: 0px 0px 1px;
}
.nav .active::after {
  content: "";
  height: 2px;
  width: calc(100% - 42px);
  display: inline-block;
  background-color: #171100;
  /* margin-left: 21px;
  margin-bottom: 11px; */
  position: absolute;
  transform: none;
}
header .btn_sign-up {
  color: white;
  min-width: 144px;
  margin-left: 49px;
}
.nav .btn:hover {
  background-color: #2e2100;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 5;
}
/* ----------hero------------- */
.hero {
  background-color: #fffcf4;
  padding: 57px;
}
.hero .body {
  display: flex;
}
.hero .body-left {
  width: 48%;
  position: relative;
}
.hero .body-right {
  width: 52%;
}
.body .anh img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
}
.hero .media-box {
  position: absolute;
  bottom: 48px;
  right: 0px;
  border-radius: 12px;
  background: #fff;
  width: 270px;
  padding: 24px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.hero .media-box .box {
  display: flex;
}
.media-box .box2,
.media-box .box3 {
  padding-top: 14px;
}
.media-box .icon {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon.icon1 {
  background-color: #fff9e8;
}
.icon.icon2 {
  background-color: #fcefff;
}
.icon.icon3 {
  background-color: #ebeaff;
}
.media-box .content {
  margin-left: 16px;
}
.content .duoi {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}
.content .tren {
  color: currentColor;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.hero .body-right {
  padding-left: 130px;
}
.body-right h1 {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px;
  padding-top: 46px;
}

.body-right .box-heroright {
  padding-top: 38px;
  display: flex;
  align-items: center;
}
.box-heroright .dangki {
  width: 180px;
  height: 64px;
  border-radius: 32px;
  background: #ffb900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-heroright a {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}
.body-right .text-chung1 {
  padding-top: 28px;
}
.box-heroright .xemvideo {
  display: flex;
  border: none;
  background: transparent;
  align-items: center;
  padding-left: 28px;
}
.xemvideo p {
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 30px; */
  padding-left: 14px;
}
.box-heroright .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}
.body-right .last-text {
  color: currentColor;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  padding-top: 8px;
}
.body-right .last-text strong {
  color: #171100;
  font-family: var(font-family);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  padding-right: 15px;
}
.body-right .last-text p:first-child {
  padding-right: 28px;
}
/* -----------------------popular--------------- */
.popular {
  padding-top: 200px;
}
.popular .popular-top {
  display: flex;
  justify-content: space-between;
}
.popular .text_gioithieu h2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  /* line-height: 48px; */
  letter-spacing: -0.76px;
}
.popular .text-chung1 {
  padding-top: 16px;
  width: 458px;
}
.popular .nutdichuyen {
  margin-top: 42px;
}
.popular-top .control {
  width: 40px;
  height: 40px;
  border: 1px solid #ffb900;
  background: transparent;
  border-radius: 50px;
}
.popular-top .control2 {
  background-color: #ffb900;
  margin-left: 18px;
}
.popular .popular-main {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
}
.popular-main .show-to-buy {
  width: 370px;
  height: 466px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}
.show-to-buy h3 {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  margin: 16px 22px 0px 22px;
}
.show-to-buy .text-chung2 {
  width: 326px;
  margin: 6px 22px 0px 22px;
}
.show-to-buy .buy {
  display: flex;
  align-items: center;
  margin: 22px 22px 0px 22px;
  justify-content: space-between;
}
.show-to-buy .danhgia {
  position: absolute;
  right: 22px;
  bottom: 143px;
  display: flex;
  align-items: flex-end;
}
.danhgia p {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 6px;
}
.buy p {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}
.btn:hover {
  background: #ffb900;
}
.popular-main .show-to-buy:hover {
  box-shadow: 0px 22px 36px 8px rgba(0, 0, 0, 0.1);
}

/* -------------------------comment------------------- */
.comment {
  background: #2e2100;
  margin-top: 200px;
  height: 380px;
}
.comment .box-chinh {
  display: flex;
  overflow: hidden;
}
.comment .box-comment {
  display: flex;
  padding-top: 96px;
  flex-shrink: 0;
  justify-content: space-between;
  width: 1170px;
}
.box-comment .comment-left {
  width: 28%;
}
.box-comment .comment-right {
  width: 66%;
}
.comment-left .anhdaidien {
  border-radius: 72px;
}
.text-avt h3 {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  margin-bottom: 4px;
}
.text-avt p {
  color: #bfbcb2;
}
.comment-left .phandichuyen {
  margin-top: 28px;
  display: flex;
}
.comment-left .con {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #634700;
  margin-right: 6px;
}
.comment-left .active {
  background: #ffb900;
}
.comment-right .text {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 4rem;
  padding-left: 30px;
  width: 100%;
}

/* -------------------------cta--------------------- */
.anh_cta_bottom {
  display: flex;
  justify-content: center;
}
.anh_cta_bottom img {
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}
.cta {
  margin-top: 200px;
  margin-bottom: 200px;
}

.cta-top .anh-cta-top {
  display: flex;
}
.cta-top .anh-cta-top img:first-child {
  margin-top: 34px;
  margin-right: 30px;
}
.cta-top img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}
.cta .cta-top {
  display: flex;
}
.cta-top .cta-text {
  margin-left: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cta-bottom .cta-text {
  /* margin-left: 130px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cta-text p {
  margin-top: 16px;
}
.cta-text .btn {
  margin-top: 43px;
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #ffb900;
}
.cta .cta-bottom {
  margin-top: 200px;
  display: flex;
}
.cta-bottom .cta-text {
  width: 570px;
  margin-right: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* ---------------------blog---------------------- */
.blog {
  padding: 96px 0px;
  background: #fffcf4;
}
.blog .blog-top {
  text-align: center;
}
.blog-top p {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}
.blog .blog-bottom {
  display: flex;
  gap: 30px;
  margin-top: 55px;
  /* overflow: hidden; */
  justify-content: space-between;
  animation: spin 20s infinite linear;
  padding-right: 30px;
}
.blog .blog-cha-bottom {
  overflow-x: auto;
  display: flex;
}
.blog .blog-cha-bottom::-webkit-scrollbar {
  display: none;
}
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
.blog-bottom .khoa-hoc {
  width: 370px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 -16px 32px 0 rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
}
.blog-bottom .khoa-hoc:hover {
  box-shadow: 0px -12px 36px 8px rgba(0, 0, 0, 0.1);
}
.blog-bottom .khoa-hoc img {
  width: 100%;
  height: 250px;
  border-radius: 16px 16px 0 0;
}
.khoa-hoc .date::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #ffb900;
  display: inline-block;
  border-radius: 50px;
  margin-right: 4px;
}
.khoa-hoc .date {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}
.khoa-hoc .date::after {
  content: "";
  height: 1px;
  display: inline-block;
  width: 160px;
  border-radius: 0.5px;
  background: #e2dfda;
  position: absolute;
  bottom: -12px;
  right: -27px;
}
.khoa-hoc h3 {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
  margin: 12px 20px 0px 20px;
  width: 89.2%;
}
.khoa-hoc .btn {
  margin-top: 12px;
  margin-bottom: 28px;
  margin-left: 20px;
}
.blog .dichuyen {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
  cursor: pointer;
}
.blog .dichuyen .nut {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #5f5b53;
}
.blog .dichuyen .active {
  background: #ffb900;
}
/* ---------------------footer--------------------- */
.footer {
  background: #2e2100;
  padding: 96px 0px 28px 0px;
  height: 428px;
}
.footer .row {
  display: flex;
  gap: 130px;
}
.footer .colums h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.footer .colums .text-chung2 {
  color: #bfbcb2;
}
.footer .colums li {
  padding-bottom: 12px;
}
.footer .list1 p {
  width: 267px;
  margin: 18px 0px;
  color: #bfbcb2;
}
.footer .list {
  margin-top: 28px;
}
.footer .Address {
  width: 231px;
}
.footer .title {
  border-bottom: 1px solid #59554b;
  padding-bottom: 14px;
  display: inline-block;
  padding-right: 48px;
}
.footer .Address strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}
.footer .end {
  margin-top: 38px;
  padding-top: 28px;
  border-top: 1px solid #59554b;
  text-align: center;
}
